@import '../../style_variables/variables';

@mixin body-container {
    background-color: $container-bg;
    border-radius: 10px;
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        font-family: $primary-font, sans-serif;
        font-size: 2rem;
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
}

@mixin mobile-body-container {
    width: 70vw;
    margin: 10px 0;
}

.homepage {
    display: flex;
    flex-direction: column;

    .top-container {
        background-color: $container-bg;
        margin-bottom: 25px;
        padding: 20px 0px; 
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-icon {
            font-size: large;
            color: gray;
            margin: 0 10px;
        }
    }

    .body-containers {
        margin-top: 25px;
        display: flex;
        justify-content: center;

        .left-container {
            @include body-container;
            margin-right: 10px;
        }

        .right-container {
            @include body-container;
            margin-left: 10px;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            
            .left-container {
                @include mobile-body-container;
            }
            
            .right-container {
                @include mobile-body-container;
            }
        }
    }
}